@page "/Account/AccessDenied"

<PageTitle>Access denied</PageTitle>

<header>
    <h1 class="text-danger">Không đủ tuổi</h1>
    <p class="text-danger">Bạn không đủ trình truy cập trang này.</p>
</header>
